In [1]:
import pandas as pd

In [2]:
df_vac_name = pd.read_excel('./data/vac_info.xlsx')
df_vac_name.head()

,Unnamed: 0,vacancy_id,vacancy_name,vacancy_desc,vac_employer
0,0,34553872,DWH разработчик,В команде ETL X5 Технологии открыта позиция DW...,X5 RETAIL GROUP
1,1,35124478,SQL/ETL Developer,"Accenture – глобальная компания, предоставляющ...",Accenture
2,2,37625294,Data scientist в управление розничного моделир...,Обязанности: Разработка моделей по направления...,Банк ВТБ (ПАО)
3,3,38322265,Системный аналитик (аналитик DWH),«СберСпасибо»- крупнейшая банковская программа...,СберСпасибо
4,4,38432478,Начальник отдела обеспечения работоспособности...,Обязанности: Обеспечение работоспособности фед...,МИЦ ПФР

In [3]:
df_vac_name = df_vac_name[['vacancy_id','vacancy_name']]
df_vac_name.head()

   vacancy_id                                       vacancy_name
0    34553872                                    DWH разработчик
1    35124478                                  SQL/ETL Developer
2    37625294  Data scientist в управление розничного моделир...
3    38322265                  Системный аналитик (аналитик DWH)
4    38432478  Начальник отдела обеспечения работоспособности...

In [4]:
from pymorphy2 import MorphAnalyzer
from stop_words import get_stop_words
from string import punctuation

exclude_punctuation = set(punctuation)
stop_words = set(get_stop_words("ru"))
morpher = MorphAnalyzer()

def preprocess_text(txt):
    txt = str(txt)
    txt = "".join(c for c in txt if c not in exclude_punctuation)
    txt = txt.lower()
    txt = [morpher.parse(word)[0].normal_form for word in txt.split() if word not in stop_words]
    return " ".join(txt)
df_vac_name['vacancy_name'] = df_vac_name['vacancy_name'].apply(preprocess_text)
df_vac_name = df_vac_name.set_index('vacancy_id')
df_vac_name

                                                 vacancy_name
vacancy_id
34553872                                      dwh разработчик
35124478                                     sqletl developer
37625294    data scientist управление розничный моделирование
38322265                      системный аналитик аналитик dwh
38432478    начальник отдел обеспечение работоспособность ...
...                                                       ...
45156360                              sas разработчик ведущий
45158038               стажёр департамент стратегический риск
45159054                                         аналитик sas
45159449                                 sreинженер bi visual
45161243          стажёр отдел management information systems

[398 rows x 1 columns]

In [5]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf = TfidfVectorizer()
corpus = tfidf.fit_transform(df_vac_name['vacancy_name'])
corpus

<398x401 sparse matrix of type '<class 'numpy.float64'>'
	with 1472 stored elements in Compressed Sparse Row format>

In [12]:
from sklearn import cluster
model = cluster.KMeans(n_clusters=6)
res = model.fit_predict(corpus)
res

array([1, 4, 0, 2, 4, 4, 4, 4, 0, 4, 4, 3, 1, 2, 4, 3, 3, 2, 4, 4, 4, 4,
       4, 4, 4, 2, 5, 4, 2, 4, 3, 2, 4, 0, 4, 1, 4, 1, 4, 2, 1, 1, 2, 4,
       4, 2, 5, 1, 5, 0, 3, 2, 4, 3, 1, 1, 2, 4, 3, 4, 4, 3, 3, 2, 4, 4,
       0, 0, 2, 2, 4, 4, 4, 4, 4, 4, 5, 4, 2, 0, 4, 3, 4, 2, 1, 1, 4, 4,
       4, 5, 5, 4, 4, 4, 4, 2, 3, 3, 1, 5, 4, 4, 2, 4, 5, 4, 4, 4, 2, 4,
       0, 0, 2, 4, 2, 1, 0, 1, 1, 1, 2, 4, 4, 4, 4, 4, 1, 2, 2, 0, 4, 2,
       4, 2, 4, 0, 4, 5, 5, 5, 5, 4, 2, 5, 2, 3, 2, 1, 1, 2, 3, 2, 0, 2,
       1, 4, 4, 4, 3, 5, 3, 4, 4, 4, 4, 2, 1, 4, 1, 1, 4, 2, 4, 4, 2, 1,
       1, 0, 2, 3, 3, 4, 2, 4, 4, 4, 4, 4, 3, 3, 0, 4, 5, 4, 4, 1, 4, 4,
       0, 4, 3, 2, 3, 4, 1, 2, 5, 4, 4, 4, 3, 1, 2, 2, 4, 4, 1, 1, 0, 1,
       1, 1, 0, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 1, 4, 4, 4, 4, 4,
       4, 0, 5, 4, 1, 1, 4, 4, 1, 4, 1, 4, 1, 1, 1, 1, 4, 4, 4, 4, 2, 4,
       2, 0, 4, 0, 4, 5, 4, 4, 0, 0, 0, 0, 0, 0, 4, 4, 4, 2, 4, 4, 1, 1,
       4, 0, 4, 4, 2, 2, 2, 2, 2, 5, 4, 4, 4, 4, 4, 2, 3, 0, 2, 0, 4, 4,
       4, 4, 4, 4, 4, 2, 4, 2, 4, 0, 2, 4, 4, 2, 4, 0, 4, 4, 3, 0, 4, 4,
       3, 2, 2, 1, 1, 4, 5, 2, 4, 1, 4, 4, 4, 5, 2, 0, 4, 4, 5, 4, 1, 1,
       5, 4, 4, 4, 4, 3, 4, 2, 4, 4, 4, 4, 3, 2, 4, 2, 4, 2, 4, 2, 2, 4,
       4, 0, 0, 4, 1, 0, 4, 2, 2, 4, 2, 4, 4, 2, 4, 1, 4, 4, 4, 1, 4, 2,
       4, 4])

In [13]:
df_vac_name['cluster'] = res
df_vac_name.to_excel('./data/vac_clustered.xlsx')